.star {
  width: 0;
  height: 0;
  position: relative;
  margin: 100px auto;
  border-left: 50px solid transparent;   
  border-right: 50px solid transparent; 
  border-bottom: 100px solid yellow;   

  transform: rotate(35deg);
}

.star::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -40px;

  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 80px solid yellow;

  transform: rotate(-35deg);
}

.star::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;

  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;

  transform: rotate(-70deg);
}